:root {
  --monospace-font: Menlo, Consolas, monospace;
  --gray100: #e3e8ee;
}

:global {
  .graphiql-container:local(.graphiqlTree) .CodeMirror {
    font-family: var(--monospace-font);
  }
  .graphiql-container:local(.graphiqlTree) .historyPaneWrap:local(.graphiqlTree) {
    min-width: 50%;

    .history-contents {
      font-family: system, -apple-system, San Francisco, \.SFNSDisplay-Regular, Segoe UI, Segoe,
        Segoe WP, Helvetica Neue, helvetica, Lucida Grande, arial, sans-serif;
      font-size: 14px;
      line-height: 22px;
      padding: 2.5vw 5vw;
      overflow-x: auto;
      color: #4f566b;

      input {
        vertical-align: baseline;
      }

      input[type='checkbox'] {
        cursor: pointer;
        margin: 0;
        vertical-align: -1px;
      }
    }

    .arg-name + :local(.typeName),
    .field-name + :local(.typeName) {
      margin-left: 8px;
    }

    :local(.addRow) {
      text-align: right;
      cursor: pointer;
      color: #556cd6;
    }

    :local(.argument) {
      padding: 12px 12px 12px 24px;
      border-bottom: 1px solid #e3e8ee;

      &.depth-5 {
        margin-left: 24px;
        padding-left: 0;
        padding-right: 0;
      }

      .arg-name {
        font-family: var(--monospace-font);
        font-size: 13px;
        font-weight: 600;
      }
    }

    :local(.arguments).depth-4 {
      margin-left: -24px;
    }

    :local(.argumentFields),
    :local(.typeFields) {
      border: 1px solid var(--gray100);
      margin: 8px 0 8px 1.6em;

      :local(.removeRow) {
        text-align: right;
        border-bottom: 1px solid var(--gray100);

        img {
          cursor: pointer;
          margin-top: 4px;
          margin-right: 4px;
        }

        &:local(.disabled) {
          display: none;
        }
      }
    }

    :local(.boolean) {
      input[type='radio'] {
        display: none;

        & + span {
          display: inline-block;
          padding: 0 8px;
          width: 4em;
          text-align: center;
          border: 1px solid #d47509;
          line-height: 26px;
          cursor: pointer;
        }

        &:checked + span {
          background-color: #d47509;
          color: white;
        }
      }

      > label:first-child span {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      > label:last-child span {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-left: none;
      }
    }

    :local(.checkbox) {
      display: inline-block;
      width: 1em;
      margin-right: 0.5em;
    }

    :local(.description) {
      line-height: 1.5;
    }

    :local(.fieldNode) {
      padding: 12px 12px 12px 24px;
      border-bottom: 1px solid var(--gray100);

      &.depth-4 {
        padding-left: 0;
        padding-right: 0;
        margin-left: 24px;
      }

      &.depth-5 {
        padding-left: 0;
        margin-left: 24px;
      }

      &.depth-6 {
        padding-left: 0;
        padding-right: 0;
      }

      &:last-child {
        border-bottom: none;
      }

      :local(.fieldNodeBody):not(.depth-4) {
        border: 1px solid var(--gray100);
        margin-top: 12px;
        margin-left: 24px;
      }
    }

    :local(.implementationType) {
      padding: 12px 0 12px 24px;
      border-bottom: 1px solid #e3e8ee;

      &.depth-6 {
        padding-left: 0;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    :local(.indented) {
      padding-left: 1.6em;
    }

    :local(.inputField) {
      border-bottom: 1px solid var(--gray100);
      padding: 12px;

      &:last-child {
        border-bottom: none;
      }
    }

    :local(.inputElementContainer) {
      position: relative;

      :local(.removeRow) {
        cursor: pointer;
        position: absolute;
        top: 50%;
        margin-top: -9px;
        right: -1.3em;

        &:local(.disabled) {
          display: none;
        }
      }
    }

    :local(.inputText) {
      display: inline-block;
      font-family: var(--monospace-font);
      font-size: 13px;
      line-height: 1.5;
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px;
      margin: 4px 0;
      padding: 4px 8px;
      border-radius: 4px;
      width: 100%;
      height: 28px;
      box-sizing: border-box;

      // &:focus,
      // &:local(.focusBorder) {
      //   border-bottom: 1px solid;
      //   margin-bottom: -1px;
      //   outline: none;
      // }

      &:focus {
        min-width: 1ch;
      }
    }

    :local(.interfaceList) {
      display: inline;
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        display: inline;
        margin-left: 20px;
        padding: 0;
        border: 0;
      }
    }

    :local(.operation) {
      :local(.operationTypeAndName) {
        display: inline-block;
        font-family: var(--monospace-font);
      }

      :local(.operationInput) {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        overflow: hidden;

        > select {
          cursor: pointer;
        }
      }

      :local(.operationName) {
        box-shadow: none;
        padding: 0;
        margin: 0;
        border-radius: 0;

        &:focus {
          border-bottom: 1px solid;
          margin-bottom: -1px;
          outline: none;
        }
      }
    }

    :local(.nameLine) {
      display: inline-block;
      white-space: nowrap;
    }

    :local(.node) {
      // .cm-number {
      //   :local(.inputText) {
      //     &:empty {
      //       border-bottom: 1px solid;
      //       margin-bottom: -1px;
      //       min-width: 1ch;
      //     }
      //   }
      // }

      // .cm-string {
      //   &::before,
      //   &::after {
      //     content: '"';
      //     cursor: text;
      //   }
      // }

      .CodeMirror-foldgutter-folded,
      .CodeMirror-foldgutter-open {
        display: inline-block;
        width: 14px;
        text-align: center;
        margin-right: 6px;
        color: #999;
        margin-left: -20px;
      }
    }

    :local(.parameters),
    :local(.returns) {
      padding-bottom: 12px;
      border-bottom: 1px solid #e3e8ee;
      margin-bottom: 0;

      font-size: 16px;
      font-weight: 500;
    }

    :local(.returns) {
      padding-top: 12px;

      > span + :local(.typeName) {
        margin-left: 8px;
      }
    }

    :local(.required) {
      color: #e56f4a;
    }

    :local(.select) {
      display: grid;
      grid-template-areas: 'select';
      align-items: center;
      font-family: var(--monospace-font);
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px;
      margin: 4px 0;
      border-radius: 4px;
      width: 100%;
      box-sizing: border-box;

      select {
        // A reset of styles, including removing the default dropdown arrow
        appearance: none;
        // Additional resets for further consistency
        background-color: transparent;
        border: none;
        color: inherit;
        padding: 4px 28px 4px 8px;
        margin: 0;
        width: 100%;
        font-family: inherit;
        font-size: 13px;
        cursor: inherit;
        line-height: inherit;
        grid-area: select;
        height: 28px;
        text-overflow: ellipsis;
      }

      &::after {
        content: '';
        width: 0.8em;
        height: 0.5em;
        background-color: #ccc;
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
        grid-area: select;
        justify-self: end;
        margin-right: 0.6em;
      }
    }

    :local(.selectable) {
      cursor: pointer;
    }

    :local(.spacer) {
      display: inline-block;
      width: 1.5em;
    }

    :local(.spacer2) {
      display: inline-block;
      width: 3em;
    }

    :local(.tag) {
      font-size: 10px;
      letter-spacing: 0.12px;
      font-weight: 600;
      text-transform: uppercase;
      margin-left: 8px;
    }

    :local(.typeName) {
      color: #8792a2;
      font-size: 13px;
      font-weight: 500;
      -webkit-font-smoothing: antialiased;
    }

    .depth-4 {
      > :local(.nameLine) {
        .field-name {
          font-size: 18px;
        }
      }
    }
  }
}
