:root {
  --monospace-font: Menlo, Consolas, monospace;
}

:global {
  .graphiql-container:local(.graphiqlTree) .CodeMirror {
    font-family: var(--monospace-font);
  }
  .graphiql-container:local(.graphiqlTree) .historyPaneWrap:local(.graphiqlTree) {
    min-width: 50%;

    .history-contents {
      font-family: system, -apple-system, San Francisco, \.SFNSDisplay-Regular, Segoe UI, Segoe,
        Segoe WP, Helvetica Neue, helvetica, Lucida Grande, arial, sans-serif;
      font-size: 14px;
      line-height: 22px;
      padding: 2.5vw 5vw;
      overflow-x: auto;
      color: #4f566b;

      input {
        vertical-align: baseline;
      }

      input[type=checkbox] {
        cursor: pointer;
        margin: 0;
        vertical-align: middle;
      }
    }

    :local(.argInput) {
    }

    :local(.argument) {
      padding-top: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid #e3e8ee;

      .arg-name {
        font-family: var(--monospace-font);
        font-size: 13px;
        font-weight: 600;
      }
    }

    :local(.boolean) {
      input[type=radio] {
        display: none;

        & + span {
          display: inline-block;
          padding: 0 8px;
          width: 3em;
          text-align: center;
          border: 1px solid #d47509;
        }

        &:checked + span {
          background-color: #d47509;
          color: white;
        }
      }

      > label:first-child span {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      > label:last-child span {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-left: none;
      }
    }

    :local(.checkbox) {
      display: inline-block;
      width: 1em;
      margin-right: 0.5em;
    }

    :local(.description) {
    }

    :local(.fieldNode) {
      padding-top: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid #e3e8ee;
    }

    :local(.indented) {
      padding-left: 1.6em;
    }

    :local(.inputText) {
      display: inline-block;
      font-family: var(--monospace-font);
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px;
      margin: 4px 0;
      padding: 4px 8px;
      border-radius: 4px;
      width: 100%;
      box-sizing: border-box;

      // &:focus,
      // &:local(.focusBorder) {
      //   border-bottom: 1px solid;
      //   margin-bottom: -1px;
      //   outline: none;
      // }

      &:focus {
        min-width: 1ch;
      }
    }

    :local(.operation) {
      :local(.operationTypeAndName) {
        display: inline-block;
        font-family: var(--monospace-font);
      }

      :local(.operationInput) {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        overflow: hidden;

        > select {
          cursor: pointer;
        }
      }

      :local(.operationName) {
        box-shadow: none;
        padding: 0;
        margin: 0;
        border-radius: 0;

        &:focus {
          border-bottom: 1px solid;
          margin-bottom: -1px;
          outline: none;
        }
      }
    }

    :local(.nameLine) {
      display: inline-block;
    }

    :local(.node) {
      white-space: nowrap;

      .cm-number {
        :local(.inputText) {
          &:empty {
            border-bottom: 1px solid;
            margin-bottom: -1px;
            min-width: 1ch;
          }
        }
      }

      // .cm-string {
      //   &::before,
      //   &::after {
      //     content: '"';
      //     cursor: text;
      //   }
      // }

      .CodeMirror-foldgutter-folded,
      .CodeMirror-foldgutter-open {
        display: inline-block;
        width: 14px;
        text-align: center;
        margin-right: 4px;
        color: #999;
        margin-left: -16px;
      }
    }

    :local(.parameters),
    :local(.returns) {
      padding-bottom: 12px;
      border-bottom: 1px solid #e3e8ee;
      margin-bottom: 0;

      font-size: 16px;
      font-weight: 500;
    }

    :local(.returns) {
      padding-top: 24px;
    }

    :local(.selectable) {
      cursor: pointer;
    }

    :local(.spacer) {
      display: inline-block;
      width: 1.5em;
    }

    :local(.spacer2) {
      display: inline-block;
      width: 3em;
    }

    :local(.typeName) {
      color: #8792a2;
      font-size: 13px;
      font-weight: 500;
      -webkit-font-smoothing: antialiased;
      margin-left: 4px;
    }

    .depth-4 {
      > :local(.nameLine) {
        .field-name {
          font-size: 18px;
        }
      }
    }
  }
}
