@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:global {
  :local(.graphiqlWithTree) {
    display: flex;
    flex-direction: row;

    --body-font: Roboto, sans-serif;
    --monospace-font: 'IBM Plex Mono', monospace;
    --productfy-blue: #1c6edc;
    --text-color: #425166;
    --toolbar-color: #505561;

    > * {
      width: 50%;
      box-sizing: border-box;
    }

    :local(.interactiveInterfaceContainer) {

      :local(.interactiveInterfaceContent) {
        position: sticky;
        display: flex;
        flex-direction: column;
        height: 100%;
        max-height: 100vh;
        // top: 2.5vh;
        top: 0;

        :local(.bottomContent) {
          position: relative;
          flex: 1 1;
        }

        :local(.codeExport) {
          position: absolute;
          top: 34px;
          left: 0;
          right: 0;
          z-index: 20;

          box-sizing: border-box;
          padding: 12px;

          border-left: 1px solid #e3e8ee;
          background-color: #ffffff;
          overflow: auto;

          .CodeMirror {
            font-size: 13px;
            font-family: var(--monospace-font);

            &.cm-s-graphiql {
              width: fit-content;
              height: fit-content;
            }

            .CodeMirror-hscrollbar,
            .CodeMirror-vscrollbar {
              display: none !important;
            }

            .CodeMirror-lines {
              padding: 0;
            }

            .CodeMirror-scroll {
              overflow: visible !important;
              width: fit-content;
            }
          }
        }

        :local(.copyButton) {
          appearance: none;
          padding: 0;
          border: 0;
          background: none;
          cursor: pointer;
          outline: none;
          position: relative;
          line-height: 34px;

          svg {
            height: 14px;
            width: 14px;
            vertical-align: -2px;

            path {
              fill: var(--toolbar-color);
            }
          }

          &:hover svg path {
            fill: var(--productfy-blue);
          }
        }

        :local(.executeButton) {
          appearance: none;
          padding: 0;
          border: 0;
          background: none;
          font-size: 13px;
          line-height: 22px;
          color: #505561;
          cursor: pointer;
          outline: none;
          border-right: 1px solid #e3e8ee;
          padding-right: 1em;

          &:hover {
            color: var(--productfy-blue);
          }
        }

        :local(.hidden) {
          display: none;
        }

        .graphiql-container {
          display: block;

          .CodeMirror {
            font-family: var(--monospace-font);
          }

          .CodeMirror-linenumber {
            color: #ccd0d4;
            min-width: 24px;
          }

          .CodeMirror-lines {
            padding: 12px 0;
          }

          .CodeMirror-sizer {
            margin-left: 42px !important;
          }

          .docExplorerWrap {
            display: none !important;
          }

          .editorBar {
            flex-direction: column;
          }

          .editorWrap {
            height: 100%;
          }

          .resultWrap {
            border-left: none;

            &::before {
              content: 'Result';
              background-color: #f4f5f9;
              padding: 0px 12px;
              color: var(--text-color);
              font-family: var(--body-font);
              font-weight: 500;
              font-size: 15px;
              line-height: 40px;
              letter-spacing: 0.01em;
              -webkit-font-smoothing: antialiased;

              border-left: 1px solid #e3e8ee;
            }

            .result-window {
              border-left: 1px solid #e3e8ee;
              background-color: white;
              overflow: hidden;

              .CodeMirror {
                background-color: transparent;
              }

              .CodeMirror-gutters {
                background-color: white;
                border: none;
                cursor: default;
              }
            }
          }

          .queryWrap {
            border-left: 1px solid #e3e8ee;
            background-color: #ffffff;
            overflow: hidden;

            .query-editor {
              .CodeMirror {
                background-color: transparent;
              }

              .CodeMirror-gutters {
                background-color: transparent;
                border: none;
              }
            }
          }

          .topBarWrap {
            display: none;
          }

          .variable-editor {
            display: none;

            .CodeMirror-gutters {
              background-color: transparent;
              border: none;
            }

            .variable-editor-title {
              display: none;
            }
          }
        }

        :local(.toolbar) {
          > * {
            display: inline-block;
          }
          > * + * {
            margin-left: 1em;
          }
        }

        :local(.topBar) {
          background-color: #f4f5f9;
          padding: 0px 12px;
          color: var(--text-color);
          font-family: var(--body-font);
          font-weight: 500;
          font-size: 13px;
          line-height: 40px;
          letter-spacing: 0.01em;
          -webkit-font-smoothing: antialiased;

          border-left: 1px solid #e3e8ee;

          :local(.mainBar) {
            display: flex;
            justify-content: space-between;
            font-size: 15px;
          }

          :local(.subBar) {
            display: flex;
            margin-left: -12px;
            margin-right: -12px;
            line-height: 2;
            background-color: #ebedf4;
          }

          :local(.subBarExports) {
            line-height: 2;
            background-color: white;
            margin: 0 -12px -34px;
            padding: 4px 12px;
            position: relative;
            z-index: 30;

            label {
              display: flex;
            }

            :local(.select) {
              display: grid;
              grid-template-areas: 'select';
              align-items: center;
              width: fit-content;
              box-sizing: border-box;
              margin-left: 12px;

              select {
                // A reset of styles, including removing the default dropdown arrow
                appearance: none;
                // Additional resets for further consistency
                background-color: transparent;
                border: none;
                color: inherit;
                padding: 0 20px 0 8px;
                margin: 0;
                width: 100%;
                font-family: inherit;
                font-size: inherit;
                cursor: inherit;
                line-height: inherit;
                grid-area: select;
                text-overflow: ellipsis;
                outline: none;
              }

              &::after {
                content: '';
                width: 0.7em;
                height: 0.5em;
                background-color: var(--toolbar-color);
                clip-path: polygon(100% 0%, 0 0%, 50% 100%);
                grid-area: select;
                justify-self: end;
                margin-right: 0.6em;
              }

              &:hover {
                select {
                  color: var(--productfy-blue);
                }

                &::after {
                  background-color: var(--productfy-blue);
                }
              }
            }
          }

          :local(.subBarTabs) {
            list-style-type: none;
            padding: 0;
            margin: 0;

            > li {
              display: inline-block;
              padding-left: 12px;
              padding-right: 12px;
              color: #7d869a;
              cursor: pointer;

              &:hover {
                background-color: #f4f5f9;
              }

              &:local(.active) {
                color: var(--toolbar-color);
                background-color: white;
              }
            }
          }
        }

        :local(.variablesVisible) {
          .query-editor {
            display: none;
          }

          .variable-editor {
            display: block;
            flex: 1 1;
            height: unset;
          }
        }
      }
    }
  }

  :local(.tooltip) {
    font-family: Roboto, sans-serif;

    .rc-tooltip-inner {
      min-height: unset;
      text-align: center;
    }
  }
}
